@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    font-weight: 500;
}


/* 

Nav

*/

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 326px;
    padding: 32px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: #b40303;
    background-image: url(Assets/Header__Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    background-color: #b40303;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background: cover;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.nav__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.search {
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.search__title {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
}

.input__wrapper {
    width: 100%;
    position: relative;
}

.search__input {
    width: 100%;
    padding: 24px 24px;
    border-radius: 50px;
    font-size: 24px;
    margin-top: 24px;
    position: relative;
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: none;
    border: none;
    padding: 20px 20px 0 8px;
    cursor: pointer;
    font-size: 32px;
    color:#b40303;
}

.search__button:hover {
    color: #8217a0;
}

.nav__logo--wrapper {
    width: 100px;
    margin-left: 128px
}


.nav__logo {
    width:100%;
    height: 80px;
    border-radius: 16px;
    object-fit: cover;
}

.nav__links {
    display: flex;
    gap: 48px;
    margin-right: 128px;
    align-items: center;
}

.nav__link {
    color: #fff;
}

.nav__link--primary {
    background-color: #b40303;
    padding: 16px 40px;
    border-radius: 50px;
    transition: all 300ms ease;;
}

.nav__link--primary:hover {
    background-color: #242424;
}