@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

/* 

Nav

*/

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    align-items: center;
}

img{
    width: 100%;
}

.header__background {
    width: 100%;
    height:120px;
}

.logo {
    margin-left: 64px;
}

.logo__img--wrapper {
    width: 100%;
    height: 80px;
}

.logo__img {
    width: 100%;
    height: 100%;
    background-color: #242424;
    border-radius: 25px;
}

.nav__lists {
    padding: 32px;
    margin-right: 64px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 24px
}

.nav__link__primary {
    padding: 12px 32px 12px 32px;
    background-color: #610864;
    border-radius: 50px;
}

.nav__link__primary a {
    color: white;
}